{% extends 'base.html.twig' %}

{% block body %}
<script>
function play(id){
     var audio = document.getElementById('audio'+ id );
     audio.play();
  }

function display(name, dialogue) {
  console.log(name);
  // console.log(dialogue);
  document.getElementById('informations').innerHTML = '<div class="focus"><h1>'+ name +'</h1><br><p>'+ dialogue +'</p></div>';
  // document.write('<div class="focus"><h1>'+ name +'</h1> </div>');
}
 </script>

 <div id="informations">

 </div>

  {% for sound in sounds %}
      <input type="button" value="{{sound.name}}"  onclick="play('{{sound.id}}'); display('{{sound.name}}','{{sound.dialogue}}')">
      <audio id="{{'audio' ~ sound.id}}" src="uploads/sounds/{{sound.path}}" ></audio>
  {% endfor %}



{% endblock %}
