{% extends 'base.html.twig' %}

{% block body %}
<script>

var url = window.location.href;
var clipboard = new Clipboard('.btn', {
    text: function() {
        return window.location.href;
    }

});

</script>

{% if soundByName != null %}

  <div ng-if="soundDetails === false;" id="informations">
    <div class="focus">
      <h1>{{soundByName[0].name}}</h1>
      <br>
      <p>{{soundByName[0].dialogue}}</p>

      <audio autoplay>
        <source src="/uploads/sounds/{{soundByName[0].path}}" type="audio/mpeg">
      </audio>

      <i style="color:white; cursor:pointer;" class="fa fa-facebook" ng-click="facebookSharing('{{soundByName[0].name}}')"> </i>
      <i style="color:white; cursor:pointer;" class="fa fa-twitter" ng-click="twitterSharing('{{soundByName[0].name}}')"> </i>

      <div class="focus"><i class="fa fa-link btn"> Copier</i></div>
    </div>
  </div>

{% endif %}

 <div ng-if="soundDetails === true;" id="informations">
   <div class="focus">
     <h1>{[{soundName}]}</h1><br>
     <p>{[{soundDialogue}]}</p>

     <i style="color:white; cursor:pointer;" class="fa fa-facebook" ng-click="facebookSharing(soundName)"> </i>
     <i style="color:white; cursor:pointer;" class="fa fa-twitter" ng-click="twitterSharing(soundName)"> </i>
     <i class="fa fa-link btn">Copier</i></div>
   </div>
 </div>

 <div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-3" ng-repeat="s in {{sounds | json_encode}} | filter:searchText">
          <p class="nameSound" ng-click="click(s)"> {[{s.name}]} </p>
        </div>
      </div>

    </div>
    <div class="col-sm-2"></div>

 </div>


{% endblock %}
