{% extends 'base.html.twig' %}

{% block body %}
<script>


function play(id){
     var audio = document.getElementById('audio'+ id );
     audio.play();
  }

function display(name, dialogue) {

  document.getElementById('informations').innerHTML = '<div class="focus"><h1>'+ name +'</h1><br><p>'+
  dialogue +'</p> <i style="color:white; cursor:pointer;"'+
  'class="fa fa-facebook" onclick="facebookSharing()"> </i>'+
  '<i style="color:white; cursor:pointer;"'+
  'class="fa fa-twitter" onclick="twitterSharing()"> </i></div>';
  window.history.pushState(name, name, '/'+name);

}

function facebookSharing(name) {
  var url = "http://localhost:8000/"+name;
  window.open( "http://www.facebook.com/sharer.php?u=" +
    encodeURIComponent(url) + "&t=" +
    encodeURIComponent(name),
    "facebook", "height=300,width=550,resizable=1" );
}

function twitterSharing(name) {
  var url = "http://localhost:8000/"+name;
  window.open( "http://twitter.com/share?url=" +
   encodeURIComponent(url) + "&text=",
   "tweet", "height=300,width=550,resizable=1" )
}



 </script>

{% if soundByName != null %}

  <div id="informations">
    <div class="focus">
      <h1>{{soundByName[0].name}}</h1>
      <br>
      <p>{{soundByName[0].dialogue}}</p>
      <audio autoplay>
        <source src="/uploads/sounds/{{soundByName[0].path}}" type="audio/mpeg">
      </audio>
      <i style="color:white; cursor:pointer;" class="fa fa-facebook" onclick="facebookSharing('{{soundByName[0].name}}')"> </i>
      <i style="color:white; cursor:pointer;" class="fa fa-twitter" onclick="twitterSharing('{{soundByName[0].name}}')"> </i>
    </div>
  </div>

{% endif %}

<!-- <center><div class="focus"><i class="fa fa-facebook"><a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://localhost:8000/&t=[Taunt.io]','facebook-share-dialog','width=626,height=436');return false;"> Share on Facebook</div></a></i></center>
<center><div class="focus"><i class="fa fa-twitter"><a href="#" onclick="window.open('http://twitter.com/share?url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436');return false;">Share on Twitter</div></a></i></center> -->

 <div id="informations">

 </div>

  {% for sound in sounds %}
      <input type="button" value="{{sound.name}}"  onclick="play('{{sound.id}}'); display('{{sound.name}}','{{sound.dialogue}}')">
      <audio id="{{'audio' ~ sound.id}}" src="uploads/sounds/{{sound.path}}" ></audio>
  {% endfor %}



{% endblock %}
